### AL (Dynamics 365 Business Central)
.vscode/
.alcache/
.alpackages/
.snapshots/
.output/
*.app
rad.json
*.g.xlf
*.flf
TestResults.xml

### Python
.ruff_cache/
.pytest_cache/
.mypy_cache/
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# packaging
build/
dist/
*.egg-info/

### IDE / OS
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

### Virtual Envs
venv/
.venv/

### Logs / DB
*.log
*.sqlite

### Patches / backups
*.diff
backups/

### Env
.env
.env.*

### Project-specific
tailwindcss.exe
