# .env
# Database connection string (MySQL + aiomysql)
DB_URL=mysql+aiomysql://USER:PASS@HOST:3306/DBNAME?charset=utf8mb4

# Admins
# Ex: admin1@mail.com, admin2@mail.com, admin3@mail.com
ADMIN_EMAILS=admin@mail.com

# Session secret for securely signing cookies or tokens
SESSION_SECRET=change-this-secret-to-a-long-random-string

# Active exchanges (separated by commas)
# Ex: binance_futures_testnet, binance_futures_mainnet, mexc_futures_mainnet
ACTIVE_EXCHANGES=binance_futures_testnet

# Default exchange (this is used if empty in OPEN/CLOSE signals)
DEFAULT_EXCHANGE=binance_futures_testnet

# Verifier loop interval (seconds)
VERIFY_INTERVAL_SECONDS=5

# API Keys without quotes

# Binance Futures TESTNET API Keys
BINANCE_FUTURES_TESTNET_API_KEY=xxx
BINANCE_FUTURES_TESTNET_API_SECRET=yyy

# Binance Futures MAINNET API Keys
BINANCE_FUTURES_MAINNET_API_KEY=xxx
BINANCE_FUTURES_MAINNET_API_SECRET=yyy

# MEXC Futures MAINNET API Keys
MEXC_FUTURES_MAINNET_API_KEY=xxx
MEXC_FUTURES_MAINNET_API_SECRET=yyy

GOOGLE_CLIENT_ID=xxx.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=yyy
GOOGLE_REDIRECT_URI=http://localhost:8000/auth/google/callback
