# .env
# Database connection string (MySQL + aiomysql)
DB_URL=mysql+aiomysql://USER:PASS@HOST:3306/DBNAME?charset=utf8mb4

# Admin emails
# (Only "Google" email addresses are accepted because "Google" login is provided by "Google LLC")
# Ex: admin1@gmail.com, admin2@gmail.com, admin3@gmail.com
ADMIN_EMAIL_WHITELIST=admin@gmail.com

# Session secret for securely signing cookies or tokens
SESSION_SECRET=change-this-secret-to-a-long-random-string

# Google sign-in requirements
GOOGLE_CLIENT_ID=xxx.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=yyy
GOOGLE_REDIRECT_URI=http://localhost:8000/auth/google/callback

# Fund Manager allowlist (separated by commas)
# Ex: fxmgr_demo_1,fxmgr_demo_2"
ALLOWED_FUND_MANAGER_IDS=fxmgr_demo_1

# Active exchanges (separated by commas)
# Ex: binance_futures_testnet,binance_futures_mainnet,mexc_futures_mainnet etc.
ACTIVE_EXCHANGES=binance_futures_testnet

# Default exchange
# Ex: binance_futures_testnet or binance_futures_mainnet etc.
DEFAULT_EXCHANGE=exchange_futures_testnet

# Should Verifier only work on DEFAULT_EXCHANGE?
VERIFY_ONLY_DEFAULT=true

# Verifier loop interval (seconds)
VERIFY_INTERVAL_SECONDS=5

# API / SECRET Keys without quotes:

# Binance Futures TESTNET API Keys
BINANCE_FUTURES_TESTNET_API_KEY=xxx
BINANCE_FUTURES_TESTNET_API_SECRET=yyy

# Binance Futures MAINNET API Keys
BINANCE_FUTURES_MAINNET_API_KEY=xxx
BINANCE_FUTURES_MAINNET_API_SECRET=yyy

# MEXC Futures MAINNET API Keys
MEXC_FUTURES_MAINNET_API_KEY=xxx
MEXC_FUTURES_MAINNET_API_SECRET=yyy
