# .env
DB_URL=mysql+aiomysql://root@localhost:3306/sigmom_pro_v1

ACTIVE_EXCHANGES=binance_futures_testnet #, binance_futures_mainnet,mexc_futures_mainnet
DEFAULT_EXCHANGE=binance_futures_testnet
VERIFY_INTERVAL_SECONDS=5

BINANCE_FUTURES_TESTNET_API_KEY="xxx"
BINANCE_FUTURES_TESTNET_API_SECRET="yyy"

BINANCE_FUTURES_MAINNET_API_KEY="xxx"
BINANCE_FUTURES_MAINNET_API_SECRET="yyy"

MEXC_FUTURES_MAINNET_API_KEY="xxx"
MEXC_FUTURES_MAINNET_API_SECRET="yyy"